{% extends "admin/dashboard.html" %}

{% block title %}Tasks{% endblock title %}

{% block content %}
<section>
	<!-- <ul>
		{% for task in tasks %}
			<li>
				<p>{{task.name}}</p>
				<span>{{task.task.title}}</span>

				{% for project in task.task.all %}
					<p>{{project.title}}</p>
				{% endfor %}
			</li>
		{% endfor %}
	</ul> -->

	<!-- <ul>
		{% for task in tasks %}
			<li>
				<p>{{task.name}}</p>
				
				{% for task in task.task.all %}
					<p>{{task.title}}</p>
				{% endfor %}
			</li>
		{% endfor %}
	</ul> -->

	<!-- <div>
		{{task_count.num_task}}
	</div> -->

	<ol>
		{% for project in projects %}
			<li>
				<p>{{project.name}}</p>
				<p>{{project.task_nums}}</p>
			</li> 
		{% endfor %}
	</ol>


	<!-- for practice 7.5 purpose -->
	<!-- <div>
		{% for task in tasks %}
			<div class="mb-10">
				<p>{{task.name}}</p>
				<p>{{task.due_date}}</p>
				<p>{{task.status}}</p>
			</div>
		{% endfor %}
	</div> -->


	<!-- <div>
		{{tasks}}
	</div> -->

	<!-- <div>
		{{first_task}}
	</div> -->
</section>
{% endblock content %}