{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Show Task</title>

	<!-- css file link -->
	<link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
	<!-- <ul>
		{% for task in tasks %}
			<li>
				<p>{{task.name}}</p>
				<span>{{task.task.title}}</span>

				{% for project in task.task.all %}
					<p>{{project.title}}</p>
				{% endfor %}
			</li>
		{% endfor %}
	</ul> -->

	<!-- <ul>
		{% for task in tasks %}
			<li>
				<p>{{task.name}}</p>
				
				{% for task in task.task.all %}
					<p>{{task.title}}</p>
				{% endfor %}
			</li>
		{% endfor %}
	</ul> -->

	<!-- <div>
		{{task_count.num_task}}
	</div> -->

	<!-- <ol>
		{% for oject in ojects %}
			<li>
				<p>{{oject.name}}</p>
				<p>{{oject.task_nums}}</p>
			</li> 
		{% endfor %}
	</ol> -->


	<!-- for practice 7.5 purpose -->
	<div>
		{% for task in tasks %}
			<p>{{task.title}}</p>
			<p>{{task.due_date}}</p>
			<p>{{task.status}}</p>
		{% endfor %}
	</div>


	<!-- <div>
		{{tasks}}
	</div> -->

	<!-- <div>
		{{first_task}}
	</div> -->
</body>
</html>